<div class="container">
{{#if user.isLogged}}
  <h1>{{i18n 'My notes'}}</h1>


<<<<<<< HEAD:frontend/templates/components/notes-table.hbs
    <a href='#add-note'>  <button type="button" class="btn btn-default btn-lg" ><span class="glyphicon glyphicon-plus" id="btnCrearNota"></span>{{i18n 'Add note'}}</button></a>
  <a href='#shared-note'>  <button type="button" class="btn btn-default btn-lg" >{{i18n 'Shared notes with me'}}</button></a>
=======
    <a href='#add-post'>  <button type="button" class="btn btn-default btn-lg" ><span class="glyphicon glyphicon-plus" id="btnCrearNota"></span>{{i18n 'Add note'}}</button></a>
<<<<<<< HEAD
  <a href='#shared-post'>  <button type="button" class="btn btn-default btn-lg" >{{i18n 'Shared notes with me'}}</button></a>
=======
   <a href='#shared-post'>  <button type="button" class="btn btn-default btn-lg" >{{i18n 'Shared notes with me'}}</button></a>
>>>>>>> 3cc79e4d8316b49d2da158312c913d11b75b2668
>>>>>>> b7e14dae8b5c10ba1f6d93e62d07639df402ed7b:frontend/templates/components/posts-table.hbs

  {{#if notes.length}}

  <div class="row">

      <div>
      {{#each notes}}
        <p fronty-component="NoteRowComponent" key="{{IdNota}}" model="notes[{{@index}}]" id="item-{{IdNota}}"></p>
      {{/each}}
      </div>

  </div>
  {{/if}}
    {{/if}}
</div>
