<div class="container">
{{#if user.isLogged}}
  <h1>{{i18n 'My notes'}}</h1>


    <a href='#add-post'>  <button type="button" class="btn btn-default btn-lg" ><span class="glyphicon glyphicon-plus" id="btnCrearNota"></span>{{i18n 'Add note'}}</button></a>
<<<<<<< HEAD
  <a href='#shared-post'>  <button type="button" class="btn btn-default btn-lg" >{{i18n 'Shared notes with me'}}</button></a>
=======
   <a href='#shared-post'>  <button type="button" class="btn btn-default btn-lg" >{{i18n 'Shared notes with me'}}</button></a>
>>>>>>> 3cc79e4d8316b49d2da158312c913d11b75b2668

  {{#if posts.length}}

  <div class="row">

      <div>
      {{#each posts}}
        <p fronty-component="PostRowComponent" key="{{IdNota}}" model="posts[{{@index}}]" id="item-{{IdNota}}"></p>
      {{/each}}
      </div>

  </div>
  {{/if}}
    {{/if}}
</div>
