<div>
  {{i18n 'Nombre'}}:<input type="text" id="nombre" value="{{selectedPost.nombre}}">
  {{#i18n}}{{errors.nombre}}{{/i18n}}<br> {{i18n 'Contenido'}}:
  <br>
  <textarea id="contenido" rows="20" cols="80">{{selectedPost.contenido}}</textarea>
  {{#i18n}}{{errors.contenido}}{{/i18n}}
  <br>
  <input type="button" id="savebutton" value="{{i18n 'Save'}}"></input>
</div>
