<div class="col-md-4" key="{{IdNota}}">
  {{#if_eq user.currentUser autor}}
  <h2 href="#view-post?id={{IdNota}}">{{nombre}}</h2>
  <p href="#view-post?id={{IdNota}}">{{contenido}}</p>
  <p>{{autor}} ({{user.currentUser}})</p>
  <p>
      <button class="remove-button" item="{{IdNota}}"><span class="glyphicon glyphicon-trash" id="btnEliminar"></span>{{i18n 'Delete'}}</button>
      <button class="edit-button" item="{{IdNota}}"><span class="glyphicon glyphicon-pencil" id="btnEditar"></span>{{i18n 'Edit'}}</button>
<<<<<<< HEAD
        <a href="#share-post?id={{IdNota}}">{{i18n 'Share note'}}</a>
=======
      <a href="#share-post?id={{IdNota}}">{{i18n 'Share note'}}</a>
>>>>>>> 3cc79e4d8316b49d2da158312c913d11b75b2668
  </p>
  {{/if_eq}}
</div>
