<div class="container">
{{#if user.isLogged}}
  <h1>{{i18n 'My notes'}}</h1>


    <a href='#add-post'>  <button type="button" class="btn btn-default btn-lg" ><span class="glyphicon glyphicon-plus" id="btnCrearNota"></span>{{i18n 'Add note'}}</button></a>
   <a href='#postshared'>  <button type="button" class="btn btn-default btn-lg" >{{i18n 'Shared notes with me'}}</button></a>

  {{#if posts.length}}

  <div class="row">

      <div>
      {{#each posts}}
        <p fronty-component="PostRowComponent" key="{{IdNota}}" model="posts[{{@index}}]" id="item-{{IdNota}}"></p>
      {{/each}}
      </div>

  </div>
  {{/if}}
    {{/if}}
</div>
